<link href="~/css/Dashboard.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
<div class="row">
    <div class="col-md-3">
        <div class="dashboard">
            @*<img src="/img/gfffj.png" alt="Alternate Text" height="50" />*@    @*<h1 class="text-center">GhArDailO </h1>*@
            <h6 class="text-center">GHArDaiLo</h6>
            <h6 class="text-center">ADMIN</h6>
            <hr />
            
            <div class="container ml-4">
                <div class="card-img-top">
                    <div class="items">
                        <a asp-action="Index" asp-controller="Product" class="lol"><img src="~/Design/spcart.png" height="30" alt="Alternate Text" /> Add Product</a>

                    </div>
                    <div class="items mt-5">
                        <a href="#" class="lol"><img src="~/Design/view.png" height="30" alt="Alternate Text" /> View Product</a>

                    </div>
                    <div class="items mt-5">
                        <a href="#" class="lol"><img src="~/Design/edit.png" height="30" alt="Alternate Text" /> Edit Product</a>

                    </div>

                    <div class="items mt-5">
                        <a href="#" class="lol"><img src="~/Design/user.png" height="30" alt="Alternate Text" />User Information</a>

                    </div>

                    <div class="items mt-5">
                        <a href="#" class="lol"><img src="~/Design/sale.png" height="30" alt="Alternate Text" />Monthly Sales</a>

                    </div>

                    <div class="items mt-5">
                        <a href="#" class="lol"><img src="~/Design/year.png" height="30" alt="Alternate Text" />Yearly Sales</a>

                    </div>


                </div>

            </div>
        </div>

    </div>
</div>