@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body id="selectpaymentmmethod">
    <section>
        <div class="row">


            <div class="col-md-4">
                <div class="ml-5 container">
                    <div>
                        <img src="/Design/cashinhand.jpg" height="100" alt="Alternate Text" />
                    </div>

                    <div>
                        <a asp-action="" >Cash in Hand</a>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class=" container ml-5 ">
                    <div>
                        <img src="/Design/onlinepayment.jpg" height="100" alt="Alternate Text" />
                    </div>

                    <div>
                        <a asp-action="">Online Payment</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>*@